<div ng-controller="runtimeManagementController">
    <div class="page-header">
        <h3 style="margin-left:20px">Runtime Management </h3>
    </div>
    <div class="row col-sm-12">
        <div class="col-md-3">
            <div class="panel panel-default dataSource-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search All runtimes by package</h3>
                </div>
                <div class="panel-body">
                    <!-- Search form -->
                    <form role="form" name="SearchForm">
                        <div class="form-group" ng-class="namePackageSelectClass" >
                            <label for="package-name-select">Rule Package Name</label>
                            <select id="package-name-select" ui-select2="selectPackage" ng-model="package"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    data-placeholder="Select a package">
                                <option value=""></option>
                                <option ng-repeat="p in packagesList" value="{{p}}">{{p}}
                                </option>
                            </select>
                        </div>
                        <!--
                        <div class="form-group" ng-class="assetStatusSelectClass">
                            <label for="asset-status-select">Asset Status</label>
                            <select id="asset-status-select"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    ui-select2="filtersOptions"
                                    multiple
                                    ng-model="filters"
                                    data-placeholder="Select Status filters">
                                <option ng-repeat="stat in statuses" value="{{stat.assetStatus}}">{{stat.description}}
                                </option>
                            </select>
                        </div>
                        -->
                        <div class="form-group">
                            <button id="btn-cancel" class="btn btn-warning pull-left" ng-show="showCancelButton" ng-click="reset()">
                                <i class="fa fa-reply"></i>
                            </button>
                            <button id="btn-search" class="btn btn-info pull-right" ng-click="search()">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="panel panel-default" style="min-height: 248px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Development </h3>
                </div>
                <div class="panel-body">
                    <!-- Search result -->
                    <br/>
                    <div class="alert alert-danger" ng-show="noAssetSent">
                        Error system
                    </div>
                    <div ng-show="developmentRuntimes.length == 0" class="alert alert-info" style="height:116px;padding-top:40px;padding-left:50px">
                        No Development runtimes have been found
                    </div>
                    <div ng-show="developmentRuntimes.length > 0">
                        <div class="table-wrapper-div">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="bold">Rulebase Id</th>
                                    <th>Url</th>
                                    <th>rule Package</th>
                                    <th>Version</th>
                                    <th>Environment</th>
                                    <th>Environment</th>
                                    <th>Mode</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="runtime in developmentRuntimes">
                                    <td>{{runtime.ruleBaseId}}</td>
                                    <td>{{runtime.url}}</td>
                                    <td>{{runtime.rulePackage}}</td>
                                    <td>{{runtime.version}}</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeEnv(runtime,'INT')">INT
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeMode(runtime)">{{runtime.mode}}
                                        </button>
                                    </td>
                                    <!--td>
                                        <label>
                                            <input type="checkbox" data-ng-model="asset.selected"/>
                                        </label>
                                    </td-->
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!--
                        <br>
                        <button id="btn-demote" class="btn btn-warning pull-left" ng-click="demoteAssetsStatus()">Demote
                        </button>
                        <button id="btn-promote" class="btn btn-success pull-right" ng-click="promoteAssetsStatus()">
                            Promote
                        </button>
                        -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="min-height: 248px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Integration </h3>
                </div>
                <div class="panel-body">
                    <!-- Search result -->
                    <br/>
                    <div class="alert alert-danger" ng-show="noAssetSent">
                        Error system
                    </div>
                    <div ng-show="integrationRuntimes.length == 0" class="alert alert-info" style="height:116px;padding-top:40px;padding-left:50px">
                        No integration runtimes have been found
                    </div>
                    <div ng-show="integrationRuntimes.length > 0">
                        <div class="table-wrapper-div">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="bold">Rulebase Id</th>
                                    <th>Url</th>
                                    <th>rule Package</th>
                                    <th>Version</th>
                                    <th>Environment</th>
                                    <th>Environment</th>
                                    <th>Mode</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="runtime in integrationRuntimes">
                                    <td>{{runtime.ruleBaseId}}</td>
                                    <td>{{runtime.url}}</td>
                                    <td>{{runtime.rulePackage}}</td>
                                    <td>{{runtime.version}}</td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeEnv(runtime,'DEV')">DEV
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeEnv(runtime,'PROD')">PROD
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeMode(runtime)">{{runtime.mode}}
                                        </button>
                                    </td>
                                    <!--td>
                                        <label>
                                            <input type="checkbox" data-ng-model="asset.selected"/>
                                        </label>
                                    </td-->
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!--
                        <br>
                        <button id="btn-demote" class="btn btn-warning pull-left" ng-click="demoteAssetsStatus()">Demote
                        </button>
                        <button id="btn-promote" class="btn btn-success pull-right" ng-click="promoteAssetsStatus()">
                            Promote
                        </button>
                        -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="min-height: 248px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Production </h3>
                </div>
                <div class="panel-body">
                    <!-- Search result -->
                    <br/>
                    <div class="alert alert-danger" ng-show="noAssetSent">
                        Error system
                    </div>
                    <div ng-show="productionRuntimes.length == 0" class="alert alert-info" style="height:116px;padding-top:40px;padding-left:50px">
                            No production runtimes have been found
                    </div>
                    <div ng-show="productionRuntimes.length > 0">
                        <div class="table-wrapper-div">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="bold">Rulebase Id</th>
                                    <th>Url</th>
                                    <th>rule Package</th>
                                    <th>Version</th>
                                    <th>Environment</th>
                                    <th>Environment</th>
                                    <th>Mode</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="runtime in productionRuntimes">
                                    <td>{{runtime.ruleBaseId}}</td>
                                    <td>{{runtime.url}}</td>
                                    <td>{{runtime.rulePackage}}</td>
                                    <td>{{runtime.version}}</td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeEnv(runtime,'INT')">INT
                                        </button>
                                    </td>

                                    <td></td>
                                    <td>
                                        <button class="btn-panel" ng-click="changeRuntimeMode(runtime)">{{runtime.mode}}
                                        </button>
                                    </td>
                                    <!--td>
                                        <label>
                                            <input type="checkbox" data-ng-model="asset.selected"/>
                                        </label>
                                    </td-->
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!--
                        <br>
                        <button id="btn-demote" class="btn btn-warning pull-left" ng-click="demoteAssetsStatus()">Demote
                        </button>
                        <button id="btn-promote" class="btn btn-success pull-right" ng-click="promoteAssetsStatus()">
                            Promote
                        </button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>