<div class="container" data-ng-controller="assetPackagingController">
    <div class="page-header">
        <h3>Asset Package Building</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            Define new Asset Package
        </div>
        <div class="panel-body">
            <!-- Select Asset to include into the build -->
            <div class="row">
                <label for="filers-input" class="col-md-offset-1 col-md-3">Asset status filter </label>

                <div class="input-group col-md-8">
                    <span class="input-group-addon">
                        <i class="fa fa-tag"></i>
                    </span>
                    <select id="filers-input" ui-select2="filtersOptions"
                            multiple
                            class="control-group input-medium"
                            data-ng-model="filters"
                            data-placeholder="Select Status filters">
                        <option ng-repeat="stat in statuses"
                                value="{{stat.assetStatus}}">{{stat.description}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- Enter  result -->
            <br/>
            <br/>

            <div class="row">
                <div class="form-inline pagination-centered">
                    <label for="ipt-version" class="col-md-offset-1 col-md-3">
                        Rule Package Version
                    </label>

                    <div class="col-md-8">
                        <input id="ipt-version" type="text" placeholder="Please enter the new rule package version name"
                               class="col-md-6" data-ng-model="version">
                        <label for="release-snapshot-option" class="col-md-offset-1 col-md-2">Release ?</label>
                        <input id="release-snapshot-option" type="checkbox" data-ng-model="isRelease"
                               class="col-md-offset-1 col-md-1">
                    </div>
                </div>
            </div>

            <div class="col-md-offset-1">
                <button id="btn-demote" class="btn btn-info pull-right" data-ng-click="createVersion()">Create new Version</button>
            </div>
        </div>

    </div>
</div>