<div id="login" class="container" ng-show="loginRequired" ng-controller="loginController">
    <form class="form-signin" ng-submit="submit()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="alert alert-danger" ng-show="authFailure">
            Authentication failure, please check your credentials
        </div>
        <div class="col-sm-offset-1">
        <input type="text" focus-on="login.focus" class="input-block-level" placeholder="Login" ng-model="username" autofocus="true">
        <input type="password" class="input-block-level" placeholder="Password" ng-model="password">
        </div>
        <div class="col-sm-offset-9">
        <button class="btn btn-success btn-large" type="submit">Sign in</button>
        </div>
    </form>
</div>
