<div class="container" ng-controller="assetStatusController">
    <div class="page-header">
        <h3>Asset Status Modification</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            Search All assets by status
        </div>
        <div class="panel-body">
            <!-- Search form -->
            <div class="row">
                <div class="col-sm-2">
                    <select ui-select2="selectPackage" ng-model="package" data-placeholder="Select a package">
                        <option value=""></option>
                        <option ng-repeat="p in packagesList" value="{{p.name}}" ng-change="selectAction()" >{{p.name}}</option>
                    </select>
                </div>
                <div class="input-group col-sm-2" id="popoverBtn" data-toggle="tooltip" data-placement="bottom">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <select
                            ui-select2="filtersOptions"
                            multiple
                            class="control-group"
                            ng-model="filters"
                            data-placeholder="Select Status filters">
                        <option ng-repeat="stat in statuses" value="{{stat.assetStatus}}">{{stat.description}}</option>
                    </select>
                </div>
                <div class="input-group  col-sm-2">
                    <button id="btn-search" class="btn btn-info" ng-click="search()"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
            <!-- Search result -->
            <br/>
            <br/>
            <div class="alert alert-danger" ng-show="noAssetSent">
                Error system
            </div>
            <div ng-show="assets.length == 0">
                <div class="well well-lg">
                    No Assets have been found
                </div>
            </div>
            <div ng-show="assets.length > 0">
                <div class="table-wrapper-div">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="bold">Asset name</th>
                            <th>Asset Type</th>
                            <th>Current status</th>
                            <th>Promote ?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="asset in assets">
                            <td>{{asset.name}}</td>
                            <td>{{asset.type}}</td>
                            <td>{{asset.status}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" data-ng-model="asset.selected"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <br>
                <button id="btn-demote" class="btn btn-warning pull-left" ng-click="demoteAssetsStatus()">Demote
                </button>
                <button id="btn-promote" class="btn btn-success pull-right" ng-click="promoteAssetsStatus()">Promote
                </button>
            </div>
        </div>
    </div>

</div>