<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    >

  <context:annotation-config/>
  <context:property-placeholder location="classpath:spring/platform-knowledge.properties"/>
  <context:component-scan base-package="org.chtijbug.drools.platform.core"/>

  <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    <property name="brokerURL">
      <value>tcp://${jms.server}:${jms.port}?wireFormat.maxInactivityDurationInitalDelay=30000</value>
    </property>
  </bean>

  <bean id="pooledJmsConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactoryBean"
        destroy-method="destroy">
    <property name="connectionFactory" ref="jmsConnectionFactory"/>
  </bean>

  <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
    <constructor-arg value="${jms.queue}"/>
  </bean>

  <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory" ref="pooledJmsConnectionFactory"/>
    <property name="defaultDestination" ref="destination"/>
  </bean>

  <bean id="platformRunner" class="org.chtijbug.drools.platform.core.DroolsPlatformKnowledgeBase"/>

</beans>