@import "bootstrap";
@import "font-awesome";

@drools-platform-grey: #595959;
@drools-platform-blue: #23539E;
@light-grey: #fafafa;

@headerLogoWidth: 180px;

/* font-awesome overrides */
@FontAwesomePath: "../components/font-awesome/fonts";
@font-face {
  font-family: 'FontAwesome';
  src: url('@{FontAwesomePath}/fontawesome-webfont.eot');
  src: url('@{FontAwesomePath}/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{FontAwesomePath}/fontawesome-webfont.woff') format('woff'),
  url('@{FontAwesomePath}/fontawesome-webfont.ttf') format('truetype'),
  url('@{FontAwesomePath}/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* boostrap overrides */

@navbarText: @drools-platform-grey;
@navbarBrandColor: @drools-platform-grey;
@navbarLinkColor: @drools-platform-grey;
@headingsColor: @drools-platform-blue;
@headingsFontWeight: normal;

@footer-height: auto;
@headerLogoWidth: 180px;

html, body {
  height: 100%;
  color: @drools-platform-grey;
}

a {
  color: @drools-platform-blue;
  cursor:pointer;
}

.navbar-inner {
  .logo {
    float: left;
    width: @headerLogoWidth;
  }
  img {
    display: block;
    margin: 0px auto;
  }
  .menu {
    float: left;
  }
  .user-space {
    float: right;
  }
  .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  min-height: 100%;
  margin: 0 auto (@footer-height);
}

#main {
  overflow: auto;
  padding-bottom: 90px;
}

footer {
  position: relative;
  height: @footer-height;
  /*background-color: #ffffff;*/
  p {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    padding-top: 5px;
  }
  margin-top: -90px;
}

/* Center the separator in the footer div*/
.separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table-wrapper-div {
  overflow: scroll;
  height: 300px;
}

/* Login */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 120px auto 20px;
  background-color: @light-grey;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }
  input[type="text"], input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

/* Modify width and margins of jumbotron */
.jumbotron {
  /* Usually : background-color: #ffffff; */
  background-color: transparent;
  max-width: 1000px;
  margin: auto;
  padding: auto;
}

.form-signin {
  background: linear-gradient(to bottom, #DADADA 0%, #B1B1B1 100%) repeat scroll 0% 0% transparent;
  box-shadow: 0px 4px 4px 0px #656565;
  /*opacity:0.5;*/
}

/* Modify navbar */
.navbar {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  background: linear-gradient(to bottom, #DADADA 0%, #B1B1B1 100%) repeat scroll 0% 0% transparent;
}
.navbar-nav > li > a {
  cursor:pointer;
}

/* Center text in thumbnail in homepage*/
.thumbnail h2 {
  text-align: center;
}

.dropdown-menu a:hover {
  background: #499bea; /* Old browsers */
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5', GradientType=0); /* IE6-9 */

}

.form-control {
  width: 100%;
}

.form-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-horizontal .control-label {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 2px;
  padding-right-value: 2px;
  padding-right-ltr-source: physical;
  padding-right-rtl-source: physical;
}

/* Button design from Bootstrap 2 */
.btn {
  display: inline-block;
  *display: inline;
  /*padding: 4px 12px;*/
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #10B257;
  background-image: -moz-linear-gradient(top, #62c462, #10B257);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#10B257));
  background-image: -webkit-linear-gradient(top, #62c462, #10B257);
  background-image: -o-linear-gradient(top, #62c462, #10B257);
  background-image: linear-gradient(to bottom, #62c462, #10B257);
  background-repeat: repeat-x;
  border-color: #51a351 #10B257 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

/* Button info changed */
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #5d8ea5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5d8ea5));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5d8ea5);
  background-image: -o-linear-gradient(top, #5bc0de, r #5d8ea5);
  background-image: linear-gradient(to bottom, #5bc0de, #5d8ea5);
  background-repeat: repeat-x;
  border-color: #2f96b4 rgb(114, 177, 202) #5d8ea5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#5d8ea5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

a, a:hover {
  color: #81776d;
}

/* Modification panels colors */

/* panel default */
.panel-default {
  border-color: #81776d;
  background-color: rgb(245, 245, 245);
}

.panel-default > .panel-heading {
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  background-color: #dadada;
  background-image: linear-gradient(to bottom, #dadada, #c8c8c8);
  border-color: #81776d;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dadada;
}

.panel-default > .panel-heading > .dropdown .caret {
  border-color: #c8c8c8 transparent;
}

.panel-default .panel-footer{
  background-color: #dadada;
  background-image: linear-gradient(to bottom, #dadada, #c8c8c8);
  border-color: #81776d;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1;
}

/* panel danger */
.panel-danger {
  border-color: #df5656;
}

.panel-danger > .panel-heading {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  background-color: #dadada;
  background-image: linear-gradient(to bottom, #f3c1c1, #e78181);
  border-color: #df5656;
}

.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #FF594A;
}

.panel-danger > .panel-heading > .dropdown .caret {
  border-color: #b94a48 transparent;
}

.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #df5656;
}

/* panel warning */
.panel-warning {
  border-color: #ebd696
}

.panel-warning > .panel-heading {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  background-color: #dadada;
  background-image: linear-gradient(to bottom, #f3f3c1, #ebeb96);
  border-color: #ebd696;
}

/* panel info */
.panel-info {
  border-color: #c2d4dd;
}

.panel-info > .panel-heading {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(to bottom, #c1f3f3, #c1daf3);
  border-color: #c2d4dd;
}

.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #c2d4dd;
}

.panel-danger > .panel-heading > .dropdown .caret {
  border-color: #c2d4dd transparent;
}

.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #c2d4dd;
}

/* panel success */
.panel-success {
  border-color: #81e781
}

.panel-success > .panel-heading {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  background-color: #c1f3c1;
  background-image: linear-gradient(to bottom, #c1f3c1, #acefac);
  border-color: #81e781;
}

/* NAV PILLS*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #000000;
  background-color: #dadada;
}

a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #FFFFFF;
  background-color: #FF594A;
  background-image: linear-gradient(to bottom, #ff7064, #FF594A);
}

.well {
  border-color: #81776d;
}

/*#popoverBtn + .popover.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #FAEBCC;
  border-width: 0 5px 5px;

}
#popoverBtn + .tooltip > .tooltip-inner {
    color: #C09853;
    background-color: #fcf8e3;
    border: 1px solid #FAEBCC;
    box-shadow:  inset 0px 1px 0px rgba(255,255,255,0.5);
    text-align: center;

}*/

/* Tooltip design modified */
.tooltip-inner {
  color: #81776d;
  width: auto;
  max-width: 210px;
  background: rgba(245, 245, 245, 1);
  background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(194, 194, 194, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(194, 194, 194, 1)));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(194, 194, 194, 1) 100%);
  background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(194, 194, 194, 1) 100%);
  background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(194, 194, 194, 1) 100%);
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(194, 194, 194, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c2c2c2', GradientType=0);
  border: 1px solid #b5b5b5;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #b5b5b5;
}

/* When error happens in a form for a input field or select field */
.has-error .form-control {
  border-color: red;
  box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.50);
}

.select2-container .select2-choice {
  height: 30px;
}

.pointer {
  cursor: pointer;
}

.highlight {
  color: #fff;
  background-color: #3498db;
}

.expanded {
  height: 400px;
}

.position-fixed {
  position: fixed;
}

/* Class related to the Runtime Analysis page */

.runtime-status-INITMODE {
  background-color: #bff073
}

.runtime-status-STARTED {
  background-color: #92b06a
}

.runtime-status-NOT_JOIGNABLE {
  background-color: #ff7260
}

.runtime-status-STOPPED {
  background-color: #fb7548
}

.runtime-status-CRASHED {
  background-color: #ff2c12
}

/* notification message on the right */
.notifications {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1000;
  width: auto;
  padding:3px;
}

/* animations for notification */
.notifications .ng-enter{
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -ms-animation: fadeInDown 1s;
  animation: fadeInDown 1s;

}
.notifications .ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

/* Hide border for code area*/
pre{
  padding:0px;
  border:0px;
}
