<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-artifactId>CXF Example Webservice</display-artifactId>


  <context-param>
    <param-artifactId>contextConfigLocation</param-artifactId>
    <param-value>classpath:spring/application-context.xml</param-value>
  </context-param>


  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <servlet>
    <servlet-artifactId>websocket</servlet-artifactId>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-artifactId>config-location</param-artifactId>
      <param-value>/WEB-INF/websocket-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-artifactId>soap</servlet-artifactId>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-artifactId>config-location</param-artifactId>
      <param-value>/WEB-INF/soap-servlet.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-artifactId>soap</servlet-artifactId>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-artifactId>websocket</servlet-artifactId>
    <url-pattern>/socket/*</url-pattern>
  </servlet-mapping>

</web-app>