<div data-ng-controller="runtimeAnalysisController">
    <div class="page-header">
        <h3 style="margin-left:20px">Runtime Analysis</h3>
    </div>
    <div class="row col-sm-12">
        <div class="col-md-3">
            <div class="panel panel-default dataSource-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter execution by Runtime</h3>
                </div>
                <div class="panel-body">
                    <!-- Search form -->
                    <form role="form" name="SearchForm">
                        <h4>Guvnor</h4>
                        <div class="form-group" ng-class="namePackageSelectClass">
                            <label for="package-name-select">Rule Package Name</label>
                            <select id="package-name-select" ui-select2="selectPackage" ng-model="package"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    data-placeholder="Select a package">
                                <option value=""></option>
                                <option ng-repeat="p in packagesList" value="{{p}}">{{p}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="iptstatus">Status</label>
                            <small>(Optional)</small>
                            <input id="iptstatus" class="form-control" name="status" type="text"
                                   placeholder="Please enter the status" data-ng-model="status"
                                   ng-pattern="/^[0-9]+.[0-9]+.[0-9]+.[0-9]+$/">
                        </div>
                        <div class="form-group">
                            <a style="cursor:pointer" ng-click="isCollapsed=!isCollapsed">
                                <span ng-show="isCollapsed"><i class="fa fa-plus-circle"></i> More filters : Runtime</span>
                                <span ng-show="!isCollapsed"><i class="fa fa-minus-circle"></i> Hide filters</span>
                            </a>
                            <hr ng-show="!isCollapsed">
                            <div collapse="isCollapsed">
                                <h4>Runtime</h4>
                                <label for="IPaddr">Hostname</label>
                                <small>(Optional)</small>
                                <input id="IPaddr" class="form-control" name="status" type="text"
                                       placeholder="Please enter the status" data-ng-model="status"
                                       ng-pattern="/^[0-9]+.[0-9]+.[0-9]+.[0-9]+$/">
                                <br>

                            </div>

                        </div>
                        <div class="form-group">
                            <a style="cursor:pointer" ng-click="isCollapsed2=!isCollapsed2">
                                <span ng-show="isCollapsed2"><i class="fa fa-plus-circle"></i> More filters : Session Execution</span>
                                <span ng-show="!isCollapsed2"><i class="fa fa-minus-circle"></i> Hide filters</span>
                            </a>
                            <hr ng-show="!isCollapsed2">
                            <div collapse="isCollapsed2">
                                <h4>SessionExecution</h4>
                                <label>From</label>
                                <div class="input-group col-md-6">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="datepickerOpened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event, 'startDate')">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                </div>
                                <label>To</label>
                                <div class="input-group col-md-6">
                                    <input type="text" class="form-control" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="datepickerOpened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event, 'endDate')" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- button id="btn-cancel" class="btn btn-danger show-tooltip" ng-show="showCancelButton"
                                    ng-click="reset()">
                                <i class="fa fa-times"></i>
                            </button -->
                            <button id="btn-cancel" class="btn btn-danger show-tooltip"
                                    ng-click="reset()">
                                <i class="fa fa-times"></i>
                            </button>
                            <button id="btn-search" class="btn btn-info show-tooltip pull-right" ng-click="search()">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <!-- Result -->
        <div id="mainPanel" class="col-md-7 col-md-offset-1">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h3 class="panel-title">All Runtimes <span class="label label-info" >{{allRuntimes.length}}</span></h3>
                    </div>
                    <div class="panel-body">
                        <!-- Search result -->
                        <div class="table-wrapper-div" style="height:auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="bold">ruleBaseID</th>
                                        <th class="bold">runtimeURL</th>
                                        <th class="bold">rulePackage</th>
                                        <th class="bold">sessionId</th>
                                        <th class="bold">status</th>
                                        <th class="bold">startDate</th>
                                        <th class="bold">endDate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="runtime in pageItems()" >
                                        <td>{{runtime.ruleBaseID}}</td>
                                        <td>{{runtime.runtimeURL}}</td>
                                        <td><span popover-placement="bottom" popover-trigger="mouseenter" popover="{{runtime.rulePackage}}" popover-title="{{dynamicPopoverTitle}}">{{runtime.rulePackage}}</span></td>
                                        <td>{{runtime.sessionId}}</td>
                                        <td>{{runtime.status}}</td>
                                        <td>{{runtime.startDate}}</td>
                                        <td>{{runtime.endDate}}</td>
                                        <td><button class="btn btn-info" ng-click="scrollToPanel()"><i class="fa fa-info-circle"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <span paginator items="allRuntimes "></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details -->
    <div id="detailsPanel" ng-show="isPanelCalled" class="row col-md-12 " >
        <div class="page-header">
            <h3 style="margin-left:20px">Session Execution Details</h3>
        </div>
        <div class="col-md-10 col-md-offset-1" ng-show="isPanelShown">
            <div class="panel panel-default" style="min-height:800px;">
                <div class="panel-heading panel-title">
                    <button type="button" class="close" aria-hidden="true" ng-click="closeDetailsPanel()" >&times;</button>
                    <h3 class="panel-title">All Rules Execution on Runtime {{selectedRuntimeID}}</h3>
                </div>
                <div class="panel-body">
                    <tabset justified="true" type="pills">
                        <tab heading="Tab 1">
                            <section id="section-1">
                                <h2>Section 1</h2>
                                <p><a href="#section-4" du-smooth-scroll>To section 4</a> Bacon ipsum dolor sit amet sausage tail capicola ground round hamburger ham hock. Short ribs pig andouille meatball, pastrami tri-tip fatback ham hock shank kielbasa swine. Rump pancetta jerky kielbasa doner beef ribs tongue hamburger strip steak drumstick andouille shoulder shank flank. Swine drumstick meatball pig beef sausage strip steak.</p>

                                <img src="http://lorempixel.com/1000/500/" alt="" />
                            </section>
                        </tab>
                        <tab heading="Tab 2">Some other content</tab>

                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>